<div class="card">
    <img src="/assets/img/lightbulb-solid.svg" alt="" class="card-logo">
    <h5 class="card-title">Experience</h5>
    <p class="card-desc">8 Hours Working</p>
</div>
<!-- card 2 -->
<div class="card">
  <img src="/assets/img/clipboard-list-solid.svg" alt="" class="card-logo">
  <h5 class="card-title">Completed</h5>
  <p class="card-desc">48 Projects</p>
</div>
<!-- card 3 -->
<div class="card">
  <img src="/assets/img/headphones-solid.svg" alt="" class="card-logo">
  <h5 class="card-title">Support</h5>
  <p class="card-desc">Online 24/7</p>
</div>