<div class="card card--taller">
    <h5 class="card-title">product <br> designer</h5>
    <p class="card-link">see more <span><img src="/assets/img/arrow-right-long-solid (1).svg" alt=""></span></p>
</div>
<!-- card 2 -->
<div class="card card--taller">
    <h5 class="card-title">Ui/Ux <br> designer</h5>
    <p class="card-link">see more <span><img src="/assets/img/arrow-right-long-solid (1).svg" alt=""></span></p>
</div>
<!-- card 3 -->
<div class="card card--taller">
    <h5 class="card-title">visual <br> designer</h5>
    <p class="card-link">see more <span><img src="/assets/img/arrow-right-long-solid (1).svg" alt=""></span></p>
</div>