<div class="modal">
    <img src="/assets/img/xmark-solid (2).svg" alt="X mark icon" class="modal__logo">
    <div class="modal__heading">
        <h4 class="modal__title">
            Ui/Ux Designer
        </h4>
     <p class="modal__desc">
         Service with more than 3 years of experience. 
         Providing quality work to clients and companies.
     </p>
    </div>
    <ul class="modal__list">
        <li><span ><img class="modal-checkicon" src="/assets/img/check-solid (3).svg" alt=""></span><p class="modal-skills">I develop the user interface</p></li>
        <li><span ><img class="modal-checkicon" src="/assets/img/check-solid (3).svg" alt=""></span><p class="modal-skills">Web page development.</p></li>
        <li><span ><img class="modal-checkicon" src="/assets/img/check-solid (3).svg" alt=""></span><p class="modal-skills">I create ux element interactions.</p></li>
        <li><span ><img class="modal-checkicon" src="/assets/img/check-solid (3).svg" alt=""></span><p class="modal-skills">I position your company brand.</p></li>
        <li><span ><img class="modal-checkicon" src="/assets/img/check-solid (3).svg" alt=""></span><p class="modal-skills">Design and mockups of products for companiess.</p></li>
    </ul>
</div>