@import './parials/variabels';
@import './parials/typography';
@import './parials/mixins';
@import './parials/general';
@import './parials/grid';
@import './parials/btn';
@import './parials/card';
@import './parials/modal';
@import './parials/nav';
@import './parials/home';
@import './parials/about';
@import './parials/skill';
.services{
    &__modal{
        position:fixed;
        background-color:#4a4f5bf0;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 9999999;
        display: none;
       
    }
    &__cards{
        .card{
            width:30%;
            @include desktop{
                max-width:270px;
            }
        }
        display: flex;
        justify-content: center;
    }
}

.overlay-active{
display: block;
}