.card--small{
    max-width: 160px;
    background-color:#262e3f;
    padding-block: 2rem;
    margin: 1rem;
    text-align: center;
    border-radius: $borderRdius;
     .card-logo{
         height: 2.3rem;
     }
     .card-title{
         color: white;
         font-size: 1.9rem;
         margin-block: 10px 2px;
         font-weight: 600;
     }
 }