.grid-cls-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

@include desktop{
    .grid{
        display: grid;
        gap: 2rem;
    }
    .grid--cls-2{
        grid-template-columns: 1fr 1fr;
    }
    .grid--row-2{
        grid-template-rows: 1fr 1fr;
    }
}