.modal{
    border-radius: $borderRdius;
    color: white;
    padding: 5rem 1rem 2rem;
    background-color: #191d25;
    margin: 2rem;
    width: 44rem;
    height: 35rem;
     text-align: center;
     position: relative;
     position: fixed;
     top: 50%;
     left: 50%;
     margin-top: -15.5rem;/* Negative half of height. */
     margin-left: -22rem;/* Negative half of width. */

   @include desktop{
       width: 60rem;
       margin-left: -30rem;
   }
     
    &__logo{
        height: 2.3rem;
        cursor: pointer;
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
    &__title{
        font-size: 2rem;
        color: $lightBlue;
    }
    &__desc{
        margin-block: 2rem 3rem;
    }
    &__list{
        li{
            display: flex;
            margin-bottom: 6px;
            .modal-checkicon{
                height: 1.8rem;
                margin-inline: 1rem;
                position: relative;
                top:4px;
            }
        }
    }
}