
header{
    margin-top: 0 !important;
    padding-top: 0 !important;
}
.nav{
    display: flex;
    justify-content: space-around;
    width: 80%;
    background-color:#3d4352;
    position: fixed;
    bottom: 2rem;
    transform: translate(calc(50vw - 50%));
    border-radius: 20px;
    padding: 10px 16px 6px;
    box-shadow: 0 0 10px  #4f576b;
    z-index: 999999;
    &__logo{
        height: 3rem;
        border-radius: 50%;
        width: 3rem;
        cursor: pointer;
        padding: 5px;
        transition: transform 0.5s;
        &:hover{
            transform: scale(1.2);
        }
    }
    @include desktop{
        width: 40rem;
      
    }
}

//nav-link
.nav-links{
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
    .nav-title{
        color:$lightBlue;
        font-size: 2.3rem;
    }
    .nav-logo{
        height: 2.5rem;
        position: relative;
        top: 3px;
        cursor: pointer;
    }
}



.active-link{
   background: linear-gradient(#7e74b8, #21304f);
}