

.testimonial{
    // height: 100vh !important;
    &__slider{
        position: relative;
        padding: 2rem;
        .slider-cards{
            display: none;
             margin-inline: auto !important;
            width: 400px;
            text-align: left;
            padding: 2rem;
           @include desktop{
            width: 600px;
           }
        }
    }
     .slider-active{
         display: block;
     }
    &__name{
        color: white;
        font-size: 1.8rem;
        margin-block: 1rem;
    }
    &__img{
        border-radius: 50%;
        height: 6rem;
    }
    .slider-btns{
        display: flex;
        justify-content: center;
    }
    .dots{
        height: 1.3rem;
        margin-inline: 10px;
        cursor: pointer;
        width: 1.3rem;
        border-radius: 50%;
        border: 1px solid white;
    }
}