

.testimonial{
   
    &__slider{
        padding: 2rem;
        .slider-cards{
            text-align: left;
            padding: 2rem;
            max-width: 60rem;
            display: none;
            margin-inline: auto;
            height: 250px;
            
        }
    }
     .slider-active{
         display: block;
     }
    &__name{
        color: white;
        font-size: 1.8rem;
        margin-block: 1rem;
    }
    &__img{
        border-radius: 50%;
        height: 6rem;
    }
    .slider-btns{
        display: flex;
        justify-content: center;
    }
    .dots{
        height: 1.3rem;
        margin-inline: 10px;
        cursor: pointer;
        width: 1.3rem;
        border-radius: 50%;
        border: 1px solid white;
    }
    .dots-active{
        background:linear-gradient(#7e74b8,#59647c);
    }
}