h1,
h2
,h3
,h4,
h5,
h6{
text-transform: capitalize;
}



h1{
    font-size: 4rem;
    margin-block: 2rem;
}

h2{
    font-size: 3rem;
}

// h3{
//     font-size: 3.2rem;
// }
// h4{
//     font-size: 2.6rem;
// }

p{
    font-size: 1.6rem;
    line-height: 1.5;
    color: #a3a5ae;
    font-weight: 600;
}