.work{
    &__btns-group{
        display: flex;
        justify-content: center;
        @include desktop{
            margin-bottom: 5rem;
        }
    }
    &__btn{
        font-weight: bold;
        margin-inline: 1rem;
        padding-block: 1.3rem;
        &--active{
            background-color: $lightBlue;
            color:#111;
            &:hover{
                // background-color:;
            }
        }
    }
    &__card{
     width: 80% !important;
     margin: 3rem auto;
   
}
    &__img{
       width:80% !important;
        border-radius: inherit;
        //  @include desktop{
        //      width: 100%;
        //  }
    }
    h3{
        color:white;
        font-size: 1.7rem;
         text-transform: none;
    }
    .card__footer{
        display: flex;
        margin: 2rem;
        position: relative;
        .footer-link{
            position: absolute;
            left: 0;
            p{
                color: $lightBlue;
                font-weight: bold;
                margin-top: 2rem;
                display: inline;
            }
             
             img{
                 height: 1.6rem ;
                 margin-left: 1rem;
                 margin-top:3rem;
                transform: translateY(3px);
             }
        }
    }
    }

    .hide-card{
        display: none;
    }